<header class="main-header">  <!-- trello header -->
  <div class="trello-menu">
      <img src="./trello-mark.png" alt="">
      <button class="btn board-button">Boards</button>
      <form action="#" class="search">  <!-- search form -->
          <input type="search" placeholder="Search..."> 
          <input type="button" value="GO">
      </form>
  </div>
  <div class="logo"> <!-- trello logo -->
      <a href="#"><img src="./trello-logo.png" alt=""></a>
  </div>
  <div class="user-settings">
      <img src="./user-avatar.jpg" alt=""> <!-- user photo -->
      <button class=" btn setting-button"><i class="fa fa-cog" aria-hidden="true"></i></button> <!-- settings button -->
  </div>
</header> <!-- trello header end -->
