.main-header {
    background: rgba(1, 126, 7, 0.7);
    padding: 8px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .trello-menu,
    .user-settings {
      display: flex;
      justify-content: space-between;
      align-items: center;
    } 
  
    .search input[type=search] {
      padding: 4px 6px;
      height: 35px;
      border: 0;
      opacity: 0.5;
      border-radius: 3px;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
      
    .search input[type=button] {
      width: 60px;
      height: 35px;
      //margin: 3px;
      border-radius: 3px;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      background: rgb(2, 75, 4);
      flex-shrink: 0;
      border: 0;
      color: #fff;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3 ease;
      text-transform: uppercase;
    }
      
    .search input[type=button]:hover { 
        background: #fff;
        color:  rgb(2, 75, 4); 
    }
  
    img {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      margin-right: 15px;
    }
  }
  