<div>
    <div class="card-header">
      <div class="progress">
        <progress max="100" value=""></progress>
        <div class="progress-bg">
          <div class="progress-bar"></div>
        </div>
      </div>
      <div class="remove-card">
        <i class="fa fa-times" aria-hidden="true"></i>
      </div>
    </div>
    <div class="info">
       <h2>Title</h2>
      <div class="relevance"></div>
    </div>
    <div class="card-content">
      <h2>cardDate</h2>
      <img src="" alt="">
    </div>
</div>;
