<div class="group">
  <div class="group-header">
    <strong class="title">{{title}}</strong>
    <button class="btn btn-remove" (click)="removeGroup(group.groupTitle)">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
  </div>
  <div class="card-holder"></div>
  <div class="group-footer" (click)="addCard()">
    <button class="add-card">+ Add card...</button>
  </div>  
</div>