.group {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;
    border-radius: 3px;
    background:  rgba(1, 126, 7, 0.7);
    margin: 10px;
    flex: 0 0 300px;
    max-height: 100%;

    &:first-child {margin-left: 0;}
    &:last-child {margin-right: 10px;}

    .group-header {
        font-size: 25px;
        font-weight: bold;
        margin: 0 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .card-holder {
        height: 100%;
        overflow: auto;
    }
    
    .add-card {
        width: 100%;
        display: block;
        background: none;
        padding: 0;
        border: 0;
        font-size: 18px;
        text-align: left;
        font-family: 'Dancing Script', cursive;
    }
} //end of group
