.container { 
    width: 100%;
    overflow: auto;
    height: calc(100vh - 80px);
    padding: 0 0 20px;

    .content { 
        position: relative;
        display: flex;
        align-items: flex-start;
        height: 100%; 

        .card {
            background: #fff;
            margin: 0 0 10px; // or 10px
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-content: stretch;
            border-radius: 3px;
      
            .card-header {
                font-size: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
      
            .info {
                width: 70%;
                display: flex;
                justify-content: space-between;
                align-items: center;
        
                h2 {
                    margin: 0;
                }
        
                .relevance {
                width: 35px;
                height: 7px;
                border-radius: 3px;
                background: #0AA023;
                } 
            } // end of info
      
            .card-content {
                display: flex;
                flex-wrap: wrap;
                margin: 0;
                justify-content: space-between;
                align-items: center;
        
                img {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                }
            }
        } // end of card

        // progress bar
        .progress {
            width: 70%;
            position: relative;
            overflow: hidden;
            margin-bottom: 10px;
  
            /*progress {
                position: absolute;
                width: 0;
                height: 0;
                overflow: hidden;
                left: -777px;
        
                &:[value="1"] + .progress-value:before {
                    content: "1%"; 
                }
        
                &:[value="1"] ~ .progress-bg .progress-bar {
                    width: 1%; 
                }
            }*/
  
            .progress-bg {
                background: #e6e9ed;
                position: relative;
                height: 8px;
                border-radius: 5px;
                overflow: hidden;
        
                .progress-bar {
                    overflow: hidden;
                    background: #ac92ec;
                    width: 0;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
    
                    &:after {
                        background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
                        background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
                        background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
                        -webkit-background-size: 40px 40px;
                        background-size: 40px 40px;
                        position: absolute;
                        content: '';
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
  
            @for $i from 0 through 100 {
            .progress progress[value="#{$i}"] {
                & + .progress-value:before { content : '#{$i}%' }
                & ~ .progress-bg .progress-bar { width: $i * 1% }
                }
            } 
        } // end of progress bar

        .card-popup-holder {
            position: absolute;
            top: -35%;
            left: 32%;
    
            /*&:before {
                content: "";
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0,0,0,0.6);
            }*/
    
            .card-popup {
                position: relative;
                top: -100px;
                left: 5%;
                max-width: 600px;
                min-width: 350px;
                width: 100%;
                background: rgba(1, 126, 7, 0.9);
                padding: 10px;
                border-radius: 3px;
    
                .header-popup {
                    margin: 0 0 8px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
    
                .description-edit {
                    display: block;
            
                    .progress-value {
                        width: 100%;
                        margin-bottom: 8px; 
    
                        h2 {
                            margin: 0 0 5px 0;
                            font-size: 18px;
                            line-height: 1.2;
                        }
    
                        input[type=range] {
                            -webkit-appearance: none;
                            height: 10px;
                            padding: 0;
                            width: 100%;
                            border-radius: 3px;
                            outline: none;
                            background: #ac92ec;
                        }
    
                        input[type=range]::-webkit-slider-thumb {
                            -webkit-appearance: none;
                            width: 15px;
                            height: 15px;
                            border-radius: 50%;
                            background: #76378B;
                            cursor: pointer;
                        }
                    }
    
                    .card-content-value {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
            
                        input[type=date] {
                        width: 70%;
                        height: 35px;
                        margin: 0;
                        }
                    }
    
                    .info-block-value textarea {
                        border: 0;
                        border-radius: 3px;
                        width: 100%;
                        background: #fff;
                        margin: 8px auto;
                        padding: 0;
                        font-size: 15px;
                        line-height: 1.2;
                        resize: none;
                        height: 100px;
                        overflow: auto;
                        outline : none;
                    }
                }
            } //end of card-popup
        } //end of card-popup-holder
    } //end of content
} //end of container