<div class="container">
  <div class="content"> 
    <app-group [title] = "title" *appAdd></app-group>
    <app-add-group (onAdd)= "addNewGroup($event)"></app-add-group>
    <button (click)="removeGroup()">Remove</button> <!--This button is for testing and will be remove later-->
    <div class="card-popup-holder"></div>
  </div>
</div>
