.add-group {
    width: 300px;
    padding: 10px;
    border-radius: 3px;
    background:  rgba(1, 126, 7, 0.7);
    margin: 10px 5px;
    flex: 0 0 300px;
    max-height: 100%;
}

.add-group-description {
    display: none;
}

.add-group-button {
    background: none;
    border: 0;
    padding: 0;
    text-align: left;
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}

.add-group-edit .add-group-button {
    display: none;
}

.add-group-edit .add-group-description {
    display: block;
}

.add-group-description input[type=text],
.info-value input[type=text],
.card-content-value input[type=date] {
    width: 100%;
    background: #fff;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 3px;
    outline: none;
    display: block;
    margin: 0 0 10px;
}

.add-group-description input[type=text]:focus,
.card-content-value input[type=date]:focus,
.info-block-value textarea:focus,
.info-value input[type=text]:focus {
    border: 2px solid rgba(3, 85, 7, 1);
}
