<div [ngClass]="calculateClasses()"> 
  <button class="add-group-button" (click) ="toggle()">+ Add another group</button>
  <form action="#">
    <div class="add-group-description">
      <input type="text" placeholder="Enter a list title..." id="input_form" #groupTitle>
      <div class="btn-holder">
        <button class="btn" 
        (click) = "addGroup(groupTitle.value); 
        groupTitle.value= '';">
          Add group
        </button>
        <button class="btn btn-remove-group" (click) ="toggle()">Cancel</button>
      </div>
    </div>
  </form>
</div>
