/* You can add global styles to this file, and also import other style files */
* {max-height: 1000000px;}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {height: 100%;}

body {
  margin: 0;
  min-width: 320px;
  height: 100%;
  background: #054913;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: 100%;
  background-image: url(src/app/main.jpg);
  background-repeat: repeat;
  background-size: cover;
  background-position: 50% 50%;
  font: 12px/15px 'Dancing Script', cursive;;
}

img {border-style: none;}

a {
  text-decoration: none;
  color:  rgba(3, 92, 27, 1);

  &:hover {
    text-decoration: underline;
  }

  &:active {
    background-color: transparent;
  }
}

input,
textarea,
select {
  color: #000;
  vertical-align: middle;
  font: 100%, "HelveticaNeue", Helvetica, Arial, sans-serif;
}

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

header, footer, article,
section, hgroup, nav, figure {display: block;}


input[type=text],
input[type=checkbox],
input[type=password],
input[type=file],
input[type=submit],
textarea {
  -webkit-appearance: none;
}

button {
  cursor: pointer;
}

.btn {
  background: rgb(2, 75, 4);
  border-radius: 3px;
  padding: 10px;
  border: 0;
  color: #fff;
  font-weight: bold;
  margin-right: 5px;

  &:hover {
      background: #fff;
      color: rgba(2, 75, 4, 1);
  }

  &.remove {
      padding: 6px;
  }

  &.board-button {
      margin-right: 5px;
      background: rgba(2, 75, 4, 1);
      border-radius: 3px;
      padding: 10px;
      border: 0;
      color: #fff;
      font-weight: bold;

  &:hover {
      background: #fff;
      color: rgba(2, 75, 4, 1);
      }
  }
} // end of btn